# 1. 忽略 CMake 的构建目录 (最重要！)
build/

# 2. 忽略 VS Code 的本地配置文件
.vscode/

# 3. 忽略编译生成的可执行文件 (Linux 下通常没后缀，或者叫 .out)
demo_app
*.out
*.exe

# 4. 忽略数据文件夹 (不上传图片)
train1/
processed_images/

# 5. 忽略操作系统生成的垃圾文件
.DS_Store
Thumbs.db